* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}


.body {
    background-image: url(https://www.makoweruk.com/wp-content/uploads/2023/10/2000_Y05-1.jpg);
}


.login {
    margin-left: 700px;
}

.Username {
    display: block;
    margin-left: 650px;
}

.username {
    display: block;
    margin-left: 650px;
}

.Password {
    display: block;
    margin-top: 30px;
    margin-left: 650px;
}

.Matik {
    display: block;
    margin-left: 650px;
}

.submit{
    display: block;
    margin-left: 650px;
}

.loginborder{
    border: 2px solid black;
}