*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}


.body {
    background-image: url(https://www.makoweruk.com/wp-content/uploads/2023/10/2000_Y05-1.jpg);
}

.username{
}

